<div class="container">
  <div data-elementor-type="wp-page" data-elementor-id="6054" class="elementor elementor-6054"
    data-elementor-post-type="page"></div>

  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-a7585a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="a7585a1" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c60a912"
        data-id="c60a912" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-7a13b03 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="7a13b03" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-25d8d53"
                data-id="25d8d53" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-97d6cb9 elementor-widget elementor-widget-heading"
                    data-id="97d6cb9" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                      <style></style>
                      <h2 class="elementor-heading-title elementor-size-default">Some Amazing
                        <span style="color:#93BF3E">Companies </span>
                        We’ve Worked With
                        Along The Way
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-2e7d84e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="2e7d84e" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-13a2b92"
                data-id="13a2b92" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-004eeeb elementor-widget elementor-widget-heading"
                    data-id="004eeeb" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                      <p class="elementor-heading-title elementor-size-default">We have been in operation since last ten
                        years and have been trusted by top brokers in India like Paytm Money, ICICI Securities, Axis
                        Securities, SMC, Fyers, Reliance Securities, Anand Rathi, JM Financial, Edelweiss and Motilal
                        Oswal.
                        Internationally we have clients in <span style="font-weight:700">Phillipines, Bangladesh, Sri
                          Lanka and UAE.</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-cd23900 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="cd23900" data-element_type="section" style="padding: 20px 0;">
    <div class="elementor-container elementor-column-gap-default"
      style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-e1b5f04"
        data-id="e1b5f04" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-9ae90d1 elementor-widget elementor-widget-image"
            data-id="9ae90d1" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2022/04/Frame-48096217.png.webp"
                  type="image/webp">
                <img decoding="async" width="190" height="60"
                  src="https://www.rupeeseed.com/wp-content/uploads/2022/04/Frame-48096217.png.webp"
                  class="attachment-large size-large wp-image-1674 webpexpress-processed" alt="Mirae Asset"
                  style="width:100%; height:auto; max-width:190px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-a7a4a3e"
        data-id="a7a4a3e" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-2d1f912 elementor-widget elementor-widget-image"
            data-id="2d1f912" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2022/04/Frame-48096211.png.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="190" height="60"
                  src="https://www.rupeeseed.com/wp-content/uploads/2022/04/Frame-48096211.png.webp"
                  class="attachment-large size-large wp-image-1678 webpexpress-processed" alt="icici security"
                  style="width:100%; height:auto; max-width:190px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-2720d23"
        data-id="2720d23" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-99f7319 elementor-widget elementor-widget-image"
            data-id="99f7319" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2022/04/Frame-48096179.png.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="190" height="60"
                  src="https://www.rupeeseed.com/wp-content/uploads/2022/04/Frame-48096179.png.webp"
                  class="attachment-large size-large wp-image-1680 webpexpress-processed" alt="Ashika"
                  style="width:100%; height:auto; max-width:190px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-7c8ac6e"
        data-id="7c8ac6e" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-7f845ef elementor-widget elementor-widget-image"
            data-id="7f845ef" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2022/04/Frame-48096225.png.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="190" height="60"
                  src="https://www.rupeeseed.com/wp-content/uploads/2022/04/Frame-48096225.png.webp"
                  class="attachment-large size-large wp-image-1681 webpexpress-processed" alt="Reliance Smartmoney"
                  style="width:100%; height:auto; max-width:190px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-9e5e14f"
        data-id="9e5e14f" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-98afbd0 elementor-widget elementor-widget-image"
            data-id="98afbd0" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2022/04/Frame-48096226.png.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="190" height="60"
                  src="https://www.rupeeseed.com/wp-content/uploads/2022/04/Frame-48096226.png.webp"
                  class="attachment-large size-large wp-image-1690 webpexpress-processed" alt="Paytm money"
                  style="width:100%; height:auto; max-width:190px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-3513511 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="3513511" data-element_type="section" style="padding: 20px 0;">
    <div class="elementor-container elementor-column-gap-default"
      style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-dc8ed61"
        data-id="dc8ed61" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-06e83cf elementor-widget elementor-widget-image"
            data-id="06e83cf" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2023/02/Steelcity-logo.png.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="291" height="76"
                  src="https://www.rupeeseed.com/wp-content/uploads/2023/02/Steelcity-logo.png"
                  class="attachment-large size-large wp-image-7954 webpexpress-processed" alt="Steel city"
                  style="width:100%; height:auto; max-width:291px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-289d491"
        data-id="289d491" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-6f98f09 elementor-widget elementor-widget-image"
            data-id="6f98f09" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2023/02/KC_N.jpg.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="550" height="150"
                  src="https://www.rupeeseed.com/wp-content/uploads/2023/02/KC_N.jpg"
                  class="attachment-large size-large wp-image-7955 webpexpress-processed" alt="Kantilal Chhaganlal"
                  style="width:100%; height:auto; max-width:550px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-21492e1"
        data-id="21492e1" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-0cde2f9 elementor-widget elementor-widget-image"
            data-id="0cde2f9" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2023/02/logomg.png.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="313" height="65"
                  src="https://www.rupeeseed.com/wp-content/uploads/2023/02/logomg.png"
                  class="attachment-large size-large wp-image-7956 webpexpress-processed" alt="Magnum"
                  style="width:100%; height:auto; max-width:313px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-a937e5c"
        data-id="a937e5c" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-4114d43 elementor-widget elementor-widget-image"
            data-id="4114d43" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2023/02/Wiinance-logo.png.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="187" height="65"
                  src="https://www.rupeeseed.com/wp-content/uploads/2023/02/Wiinance-logo.png"
                  class="attachment-large size-large wp-image-7957 webpexpress-processed" alt="Wiinance"
                  style="width:100%; height:auto; max-width:187px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-525cf3e"
        data-id="525cf3e" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-4db885b elementor-widget elementor-widget-image"
            data-id="4db885b" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <picture>
                <source
                  srcset="https://www.rupeeseed.com/wp-content/webp-express/webp-images/uploads/2022/04/Frame-48096180.png.webp"
                  type="image/webp">
                <img loading="lazy" decoding="async" width="190" height="60"
                  src="https://www.rupeeseed.com/wp-content/uploads/2022/04/Frame-48096180.png.webp"
                  class="attachment-large size-large wp-image-1687 webpexpress-processed" alt="Axis Securities"
                  style="width:100%; height:auto; max-width:190px;">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
